{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% endif %}

<div class="container account">
	<div class="row">
		<div class="tabcontent col-lg-12 col-12" id="tab-2">
			<div class="signin">
				<h3>Usuário já cadastrado</h3>
				<form class="login" method="POST" action="{% url 'account_login' %}">
					{% csrf_token %}
					{{ form|crispy }}
					{% if redirect_field_value %}
					<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
					{% endif %}
					<button class="btn btn-primary col-12" type="submit">{% trans "Sign In" %}</button>
					<a id="forget-pass" class="extra-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
function openTab(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}
if (window.matchMedia("(max-width: 768px)").matches){
	document.getElementById("defaultOpen").click();
}
$('#forget-pass').click(function(){
	$('.signin').hide();
	$('.forget-pass').show();
});
$('#signin').click(function(){
	$('.forget-pass').hide();
	$('.signin').show();
});
</script>
{% endblock %}

